{{ block "base" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>BASE</title>
    <meta name="description" content="DESCRIPTION">
    <link href="/static/output.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
    <script>
        htmx.config.allowNestedOobSwaps = false
    </script>

    {{ .ExtraHead }}
</head>

<body>
    {{ .Body }}
</body>
</html>
{{ end }}

{{ define "authnav" }}
    <div class=" bg-brand-800 px-4 py-2 mt-2 relative rounded-md text-neutral-100 shadow-md">
        <div class="group/menu absolute t-0 z-50 flex flex-col justify-center items-start">
            <div class="group-hover/menu:visible invisible flex flex-row justify-start space-x-2">
                <a href="/lists">Lists</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </div>
            <div class="cursor-pointer border-brand-300">
                Menu
            </div>
        </div>
        <div class="w-full flex flex-row items-center justify-center">
            <h1 class="callout-font">
                Market Lists
            </h1>
        </div>
    </div>
{{ end }}
