{{ define "bodylogin" }}
<div class="flex flex-col items-center mx-auto">
    <div class="text-lg">Welcome back, <a class="font-display text-4xl mr-2 ml-2 cursor-pointer" href="/"> market list
        </a> maker!</div>
    <div class="w-full border-t-brand-600 h-1 border mb-5"></div>
    <form action="/login" method="post" class="flex flex-col space-y-1 justify-center">
        <label for="username">Username:</label>
        <input type="text" id="loginusername" name="username" required value="asdasdaa">
        <label for="loginpassword">Password:</label>
        <input type="password" id="loginpassword" name="password" required value="asd12!123@#ahs">
        <div class="flex flex-col items-center my-4">
            <button type="submit"
                class="mx-auto mb-2 rounded p-2 bg-brand-800 text-neutral-100 text-md hover:bg-brand-600 transition-all border-transparent shadow-md hover:z-10 hover:font-bold mt-4">Login</button>
            {{ if .FormError }}
            <div class="rounded p-4 mx-auto border-red-800 border bg-red-200">
                {{ .FormError }}
            </div>
            {{ end }}
        </div>
    </form>
    <div class="mt-5 cursor-pointer border-transparent border hover:border-b-brand-500 transition">Forgot my
        password</div>
    <a href="/signup" class="cursor-pointer border-transparent border hover:border-b-brand-500 transition">Create an
        account</a>
</div>
{{ end }}

{{ define "bodysignup" }}
<div class="flex flex-col items-center mx-auto">
    <div class="text-lg">Welcome to <a class="font-display text-4xl mr-2 ml-2 cursor-pointer" href="/"> market list
        </a></div>
    <div class="w-full border-t-brand-600 h-1 border mb-5"></div>
    <form action="/sign-up" method="post" class="flex flex-col space-y-1">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required value="">
        <label for="email">Email:</label>
        <input type="email" name="email" id="username" name="email" required value="">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required value="">
        <label for="password">Confirm Password:</label>
        <input type="password" required value="">
        <button
            class="rounded p-2 bg-brand-800 text-neutral-100 text-md hover:bg-brand-600 transition-all border-transparent shadow-md hover:font-bold mx-auto mt-4"
            type="submit" class="mx-auto">Sign Up</button>
        {{ if .FormError }}
        <div class="rounded p-4 mx-auto border-red-800 border bg-red-200">
            {{ .FormError }}
        </div>
        {{ end }}
    </form>
    <div>
        Already have an account ?
        <a class="my-1 cursor-pointer border-transparent border hover:border-b-brand-500 transition" href="/login">Click
            here to login</a>
    </div>
</div>
{{ end }}

{{ define "bodypasswordrecovery" }}

<form hx-post="/password-recovery" hx-vals="js:{token: new URL(window.location).searchParams.get('token')}">
    <label>New password:</label>
    <input type="password" name="password" />
    <label>Confirm new password:</label>
    <input type="password" />
    <button type="submit">Confirm</button>
</form>

{{ end }}
