{{ define "communitiesextrahead" }}
{{ end }}

{{ define "communitiesbody" }}
{{ template "authnav" }}

<div class="px-4 py-2 max-w-md mx-auto">
    <div class="flex-col space-y-1 flex">
        <div class="flex-row flex items-center w-full justify-between">
            <h2>Communities</h2>
            <div class="flex-row flex items-center">
                {{ if or .Query.SelectedId .Query.EditingId }}
                {{ else }}
                <a href="/communities?new=true" class=" bg-brand-700 p-1 rounded-full flex items-center justify-center">
                    <span class="i-mdi-plus text-neutral-200 w-5 h-5"></span>
                </a>
                {{ end }}
            </div>
        </div>
        {{ block "selectedcommunity" .SelectedCommunity }}
        {{ if . }}
        <section id="selected-house">
            <div class="flex flex-row items-center justify-between">
                <h3>{{ .CommunityName }}</h3>
                <div class="flex flex-row items-center space-x-2">
                    <div class="group/delete hover:bg-red-700 transition-all flex items-center font-semibold px-2 py-1 rounded bg-red-500 cursor-pointer text-neutral-200"
                        hx-delete="/communities/{{ .CommunityId }}">
                        <span class="font-thin i-mdi-delete text-neutral-200 text-xl mr-1"></span>
                        Delete
                    </div>
                    <a href="/communities?editingId={{ .CommunityId }}"
                        class="group/edit hover:bg-brand-800 flex items-center font-semibold px-2 py-1 rounded bg-brand-700 text-neutral-200">
                        <span class="transition-all i-mdi-edit text-xl mr-1"></span>
                        <p>Edit</p>
                    </a>
                </div>
            </div>
            <label>Members:</label>
            {{ range .Members }}
            {{ template "usercard" .User }}
            {{ end }}
        </section>
        {{ end }}
        {{ end }}

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {{ range .Communities }}
            <a href="/communities?selectedId={{ .CommunityId }}" class="p-2 rounded border-brand-800 border">
                <h3>{{ .CommunityName }}</h3>
                <label>Criado em:</label>
                <time datetime="{{ .CreatedAt }}">
                    {{ .UpdatedAt.Format "2006-01-02" }}
                </time>
            </a>
            {{ end }}
        </div>

        {{ if or .Query.New .Query.EditingId }}
        <div class="fixed top-0 left-0 w-screen h-screen bg-gray-200 flex flex-col items-center"
            style="background-color: rgba(0, 0, 0, 0.5)" x-data="{}">
            <div class="bg-neutral-100 p-4 rounded mt-16" style="max-width: 90%" @click.outside="window.history.go(-1)">
                <h3>New Community</h3>
                <form hx-ext='json-enc-custom' {{ if .SelectedCommunity
                    }}hx-put="/communities/{{.SelectedCommunity.CommunityId}}" {{else}}hx-post="/communities" {{end}}>
                    <label>Name
                        <input name="communityName"
                            value="{{ if .SelectedCommunity }} {{ .SelectedCommunity.CommunityName }} {{ end }}" />
                    </label>
                    <div>
                        {{ if .SelectedCommunity }}
                        {{ template "selectuser" .SelectedCommunity.Members }}
                        {{ else }}
                        {{ template "selectuser" }}
                        {{ end }}

                    </div>
                    <button type="submit">{{ if .Query.New -}} Create {{- else }} Update {{- end}}</button>
                </form>
            </div>
        </div>
        {{ end }}

    </div>
    {{ end }}
