{{ define "extrahead" }}
<script>
    document.addEventListener('htmx:wsBeforeMessage', (event) => {
        let msg;
        try {
            msg = JSON.parse(event.detail.message);
        } catch (err) {
            return true;
        }
        const {actionType} = msg;
        if (actionType === 1) {
            // Handle focus
            const {groupIndex, itemIndex, color} = msg
            document.querySelector(`#desc-${groupIndex}-${itemIndex}`).style.borderColor = color;
            document.querySelector(`#desc-${groupIndex}-${itemIndex}`).classList.add(`border`);
        } else if (actionType === 2) {
            // Handle blur
            const {groupIndex, itemIndex, color} = msg;
            document.querySelector(`#desc-${groupIndex}-${itemIndex}`).style.borderColor = 'transparent'
        }
        return false
    })
    document.addEventListener('htmx:oobAfterSwap', console.log)
    document.addEventListener('htmx:oobBeforeSwap', console.log)
    document.addEventListener('htmx:oobErrorNoTarget', console.error)
    document.addEventListener('htmx:swapError', console.error)
    document.addEventListener('htmx:targetError', console.error)

</script>
{{ end }}

{{ define "body" }}

{{ template "authnav" }}
<div class="p-4">
    {{ if .Editing }}
    <form hx-put="/lists/{{ .List.Id }}"
        hx-vals='{"colaborators": js(Array.from(document.querySelectorAll("select option")).map(opt => opt.value))}'
        class="flex-col space-y-1 flex">
        <input class="input-h3" name="title" value="{{ .List.Title }}" placeholder="Name your list" />
        <input name="description" value="{{ .List.Description }}" placeholder="Describe your list" />
        <label>Colaborators {{ .AllUsers | len }}</label>
        <select multiple name="colaborators">
            {{ range .AllUsers }}
            <option value="{{ .Id }}">
                {{ .Username }}
            </option>
            {{ end }}
        </select>
        <button type="submit">Save</button>

    </form>
    {{ else }}
    <div class="flex-col space-y-1 flex" hx-ext="ws" ws-connect="/ws/list-editor?listId={{.List.Id}}">
        <div>
            <div class="flex flex-row justify-between items-center" hx-on:htmx:wsAfterMessage="console.log(event)">
                <h3 class="truncate max-w-2/3">{{ .List.Title }}</h3>
                <a class="group/edit p-2 rounded-full bg-brand-600 w-8 h-8 flex items-center justify-center mr-14"
                    href="/lists/{{ .List.Id }}?edit">
                    <span class="group-hover/edit:text-2xl transition-all i-mdi-edit text-neutral-200 text-xl"></span>
                </a>
            </div>
            <p><i name="description">{{ .List.Description }}</i></p>
            {{block "colaborators" .List.ColaboratorsOnline}}
            <div id="colaborators" hx-swap-oob="outerHTML">
                <p>Colaborators {{ . | len }}:</p>
                <div>
                    {{ range . }}
                    {{ template "useruicard" . }}
                    {{ end }}
                </div>
            </div>
            {{end}}

            <div id="groups">
                {{ range $gidx, $group := .List.Groups }}
                {{ block "group" (indexedgroup $group.GroupId $group) }}
                <div hx-swap-oob="{{ .HxSwapOob }}">
                    <div id="{{.Id}}" class="mt-2 border-brand-400 border rounded-md mb-2">
                        <div class="flex flex-row items-center">
                            <div class="flex items-center justify-center">
                                <button ws-send hx-vals='{"actionType": 7, "groupIndex": {{ .GroupIndex }}}'
                                    class="hover:bg-neutral-300 hover:shadow-sm hover:font-semibold transition-all rounded-full w-fit h-fit py-1 px-1">
                                    <span class="i-mdi-close text-brand-800 text-lg border m-auto"></span>
                                </button>
                            </div>
                            <input class="font-semibold max-w-32" value="{{ .Group.Name }}"
                                hx-trigger="change changed throttle:400ms" name="text"
                                hx-vals='{"actionType": 5, "groupIndex": {{ .GroupIndex }}}' ws-send />
                        </div>
                        <div class="h-1 border border-t-brand-700 w-full my-2"></div>
                        <div id="items-{{.GroupIndex}}">
                            {{ range $iidx, $item := .Group.Items }}
                            {{ block "item" (indexeditem $.GroupIndex $item.Id $item "") }}
                            <div hx-swap-oob="{{ .HxSwapOob }}">
                                <div id="desc-{{.GroupIndex}}-{{.ItemIndex}}"
                                    class='flex-row flex items-center border-transparent border'>
                                    <button ws-send
                                        hx-vals='{"actionType": 8, "groupIndex": {{ .GroupIndex }}, "itemIndex": {{ .ItemIndex }}}'>
                                        <span class="i-mdi-close border text-brand-800 text-lg"></span>
                                    </button>
                                    <div class="flex-row flex items-center"
                                        hx-trigger="focus from:#desc-{{.GroupIndex}}-{{.ItemIndex}}-input, focus from:#qty-{{.GroupIndex}}-{{.ItemIndex}}-input"
                                        ws-send value="{{ .Item.Description }}"
                                        hx-vals='{"actionType": 1, "groupIndex": {{ .GroupIndex }}, "itemIndex": {{ .ItemIndex }} }'>
                                        <div hx-trigger="blur from:#desc-{{.GroupIndex}}-{{.ItemIndex}}-input, blur from:#qty-{{.GroupIndex}}-{{.ItemIndex}}-input"
                                            hx-vals='{"actionType": 2, "groupIndex": {{ .GroupIndex }}, "itemIndex": {{ .ItemIndex }} }'
                                            id="desc-{{.GroupIndex}}-{{.ItemIndex}}-div" ws-send
                                            class="w-full flex-row flex">
                                            {{ block "itemdescription" . }}
                                            <input class="flex flex-grow w-4/5" ws-send
                                                hx-trigger="change changed throttle:400ms"
                                                hx-vals='{"actionType": 9, "field": "description", "quantity": "{{ .Item.Quantity }}"}'
                                                name="description" id="desc-{{.GroupIndex}}-{{.ItemIndex}}-input"
                                                value="{{ .Item.Description }}" />
                                            {{ end }}
                                            {{ block "itemquantity" . }}
                                            <input class="flex-shrink flex w-1/5" ws-send
                                                hx-trigger="change changed throttle:400ms"
                                                hx-vals='{"actionType": 9, "field": "quantity", "description": "{{ .Item.Description }}"}'
                                                value="{{ .Item.Quantity }}" name="quantity" type="number"
                                                id="qty-{{.GroupIndex}}-{{.ItemIndex}}-input" />
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                            {{ end }}
                        </div>
                        <button ws-send hx-vals='{"actionType": 6, "groupIndex": {{ .GroupIndex }}}'
                            class="group/add-group rounded px-2 py-1 bg-brand-800 text-neutral-100 text-md hover:bg-brand-600 transition-all border-transparent shadow-md hover:font-bold mx-auto mt-2 flex-row flex items-center mb-2">Add
                            item <span
                                class="i-mdi-plus text-xl group-hover/add-group:translate-x-1 transition-all"></span></button>
                    </div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <button ws-send hx-vals='{"actionType": 4}'
                class="group/add-group px-2 py-1 rounded bg-brand-800 text-neutral-100 text-md hover:bg-brand-600 transition-all border-transparent shadow-md hover:font-bold mx-auto mt-2 flex-row flex items-center">Add
                group <span
                    class="i-mdi-plus text-xl group-hover/add-group:translate-x-1 transition-all"></span></button>
        </div>
    </div>
    {{ end }}

    {{ block "save" . }}
    <div hx-swap-oob="true" id="save" class="fixed -bottom-4 right-4">
        {{ if .IsDirty }}
        <button hx-put="/lists/{{ .List.Id }}/save" hx-indicator="save-indicator"
            class="rounded px-2 py-1 bg-brand-800 text-neutral-100 text-md hover:bg-brand-600 transition-all border-transparent shadow-md hover:font-bold">Save
            <span class="i-mdi-save m-auto text-lg"></span></button>
        <p id="save-indicator" class="htmx-indicator">Saving list...</p>
        {{ end }}
    </div>
    {{ end }}
</div>
<div class="border-green border border-red border-blue boder-pink hidden" />
{{ end }}
