@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Primary
#3C8023

Primary Light
#C8DA81

Secondary
#C8DA81, #E4D762


White
#EFECC8


#84C738
#EFECC8
*/



html {
  padding: 0 1em;
  font-size: 20px;
  @apply bg-brand-100 text-neutral-900
}

body {
  max-width: 700px;
  margin: 0, auto;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

span {
  font-size: 0.7em;
}

h1 {
    font-size: 2.5em;
}

h2,
.input-h2 {
  font-size: 1.89em;
}

h3 {
  font-size: 1.69em;
}

input,
option,
select {
  background-color: transparent;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

input:focus, select:focus {
  outline: none;
  transition: border-bottom 0.2s;
}

button,
.button {
  padding: 0.5em 1em;
  width: fit-content;
  border-radius: 0.5em;
}

a {
  text-decoration: none;
}

a:hover a:focus {
  font-weight: bold;
  transition: font-weight 0.2s;
}


.callout-font {
  /* https://fonts.google.com/specimen/Kolker+Brush/tester?classification=Display,Handwriting */
  font-family: "Kolker Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
.font-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}

